@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

 :root {
  --bg-clr: #aa60c8;
  --box-clr: #d69ade;
  /* --text-clr: #FFDFEF; */
  --text-clr: white;
  /* --line-clr: hsl(282, 35%, 50%) ; */
  --line-clr: #9B30FF;
  --sec-clr: #eabde6;
  --hover-bgclr: #eabde6; 
  --hover-txt-clr: #410445; 
  --gradient-clr: linear-gradient(to left, #9B30FF, #aa60c8, #9B30FF);
  --sec-gradient-clr: linear-gradient(to left, #9B30FF, #9B30FF);
} 

.side-nav-icon {
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
  scroll-behavior: smooth;
  font-size: 0.9rem;
  /* user-select: none; */
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 60px auto auto;
  grid-template-areas:
    "header header"
    "nav nav"
    "main main"
    "footer footer";
}
.highlight {
  background-color: yellow;
  font-weight: bold;
  color: black;
  padding: 2px;
}

header {
  grid-area: header;
  background-color: white;
  color: var(--text-clr);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: space-around;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 100px;
}

.img {
  width: 50%;
  margin-top: 41px;
}

.img img {
  width: 100%;
  object-fit: scale-down;
  margin-top: -35px;
}

.search-box {
  width: 50%;
  display: inline-flex;
}

.search-box input {
  border: 1px solid var(--line-clr);
  padding: 8px 9px;
  text-align: center;
  font-weight: 600;
}

.search-box input::placeholder {
  color: var(--bg-clr);
  display: block;
}

.search-box button {
  padding: 5px;
  border: 1px solid var(--line-clr);
  background-color: var(--sec-gradient-clr-clr);
  color: var(--text-clr);
  border-radius: 0;
  font-size: 1.09rem;
}

.search-box button:active {
  transform: scale(1.05);
}

nav {
  /* background-color: var(--bg-clr); */
  background-image: var(--gradient-clr);
  grid-area: nav;
  width: 100%;
  height: 60px;
  top: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.links-container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
nav a{ 
  height: 100%;
  padding: 0 1.1rem;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-clr);
  font-weight: 500;
  font-size: 1.1rem;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

}
nav label{
  color: var(--text-clr);
  font-weight: 500;
  font-size: 1.5rem;

}
nav a:hover{
  background-color: var(--hover-bgclr);
  border-radius: 5px;
  color: var(--hover-txt-clr);
}
nav svg{
  fill: var(--text-clr);
}
#sidebar-active{
  display: none;
}
.open-sidebar-btn, .close-sidebar-btn{
  display: none;
}
.links-container a {
  position: relative;
}

.submenu {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  background-image: var(--gradient-clr);
  top: 100%;
  width: 100%;
  left: 2px;
  display: none; /* Hidden by default */
  flex-direction: column;
  z-index: 20;
  padding: 0 .5rem;
  box-shadow: 1px 6px 7px 4px rgb(0, 0, 0, .3);
    border-radius: 0 0 10px 10px;
}

.submenu:hover .dropdown {
  display: flex; /* Show dropdown on hover */
}

.dropdown a {
  padding: .5rem;
  text-align: left;
  display: block;
}

main {
  grid-area: main;
}

.text_1 p {
  margin-top: -20px;
  text-align: justify;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
}

nav,
header {
  position: fixed;
  z-index: 1;
}

/* CSS for Scrolling text */
.scroll-text-cont {
  display: flex;
  height: 54px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
}

.scroll-text {
  white-space: nowrap;
  margin: 0 1rem;
}

.scroll-text div {
  display: flex;
  gap: 2rem;
}

.scroll-text p {
  font-size: 1.05rem;
  color: var(--line-clr);
  font-weight: bold;
  margin-bottom: 0;
  user-select: none;
}

.l-t-r {
  animation: l-t-r 25s infinite linear;
}

@keyframes l-t-r {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}

/* CSS for Scrolling Images */
#gallery-text {
  margin: 0;
  margin-top: 1.5rem;
}

.scroll-img-cont {
  display: flex;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  margin-top: 25px;
}

.scroll-img {
  white-space: nowrap;
  margin: 0 1rem;
}

.scroll-img div {
  display: flex;
  gap: 0.5rem;
}

.scroll-img img {
  aspect-ratio: 4 / 4;
  height: 390px;
}

.l-t-r-img {
  animation: l-t-r 25s infinite linear;
}

@keyframes l-t-r {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-50%);
  }
}
.l-t-r-img:hover{
  animation-play-state: paused;
}
#gallery-text {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 0 12px;
  margin: 0 auto;
  width: 85%;
}

.text_1 {
  padding: 0 20px;
  padding-left: 2rem;
}

.text_1 h3 {
  font-size: 1.8rem;
  text-align: right;
}

.dept_img img {
  border-radius: 15px;
}

.contact-us {
  display: flex;
  min-height: 250px;
  padding: 1.2rem;
  gap: 1.4rem;
  margin: 0 auto;
}

.contact-us form {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  gap: .5rem;
  border: 2px solid var(--line-clr);
  border-radius: 15px;
  margin: 0 auto;
}

form input,
textarea {
  /* width: 85%; */
  /* height: 2.5rem; */
  transition: all 0.3s ease;
  border-radius: 15px;
  border: 2px solid var(--line-clr);
  padding: 1rem;
}

form label {
  position: relative;
  bottom: 2.5rem;
  background-color: white;
  width: 14%;
  margin: 0 1.9rem;
  font-size: 1rem;
  font-weight: 500;
  transform: translateY(-1.9rem);
}

.lesswidth {
  width: 9%;
}

button {
  font-family: "Poppins", serif;
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-image: var(--sec-gradient-clr);
  color: var(--text-clr);
  font-size: 1.1rem;
  font-weight: 500;
  
}
button:hover{
  cursor: pointer;
}
/* button:hover{
  background-image: var(--hover-bgclr);
    background-color: var(--hover-bgclr);
    color: var(--hover-txt-clr);
    transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
    cursor: pointer;
} */


form button{
  font-size: 1.5rem;
  padding:.5rem;
}
iframe {
  border: 0;
  /* padding: 1rem; */
  width: 35rem;
  height: 19rem;
  border-radius: 15px;
}
.contact-info {
  width: 50%;
  margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.address{
  text-align: center;
  padding: 0 7.3rem;
}
.info h4{
  text-align: center;
  font-size: 1.8rem;
  margin: 5px;
  color: var(--line-clr);
}
.otherinfo{
  display: flex;
  flex-direction: column;
  padding: 1rem 9rem;
  gap: 1rem;
  align-items: center;
}


svg {
  fill: var(--text-clr);
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
}

.text-1 {
  width: 100%;
}

.cards {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 320px 320px;
  grid-gap: 25px;
  padding: 15px 20px;
  justify-content: center;
}

.card {
  width: 300px;
  height: 325px;
  border: 3px solid var(--line-clr);
  border-radius: 5px;
  color: var(--bg-clr);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.card:hover {
  transform: translateY(-.2rem);
  box-shadow: 0px 0px 9px 5px rgb(0, 0, 0, 0.4);
  transition: transform 550ms ease-in-out ;

}

.card img {
  width: 130px;
  border-radius: 28%;
  padding: 3px;
  border: 3px solid var(--line-clr);
}

.card h6 {
  font-size: 1.5rem;
  margin: 15px 0;
}


/* .card button:hover {
  background-color: var(--hover-bgclr);
  color: var(--hover-txt-clr);
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  cursor: pointer;
} */

.card button:active {
  transform: scale(1.2);
}

.card p {
  line-height: 0;
  margin: 25px 0;
  font-size: 1.5em;
}

.text-1 {
  width: 94%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.card h5 {
  font-size: 1.5rem;
  margin: 17px 0;
}

/* Css for Blog Section  */
.latest-blog{
  width: 98%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto; 

}
.blog{
  width: 60%;
  height: 20%;
  border: 2px solid var(--line-clr);
  padding: 1rem 2rem;
  text-align: justify;
  align-content: center;
  justify-items: center;  
  transition: 400ms ease-in-out;
  margin: 2rem 0;
}
.blog:hover{
transform: translateY(-.5rem);  
}
.blog h5{
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
.blog img {
  width: 15%;
}
.text-blog{
  display: flex;
  justify-content: center;
  gap: .7rem;
  align-items: center;
}
.blog p{
  padding: 1rem 0;
}
.blogImg{
  width: 60%;
  height: 60%;
}
.blogImg img{
  object-fit: fill;
  width: 105%;
  margin: 1rem 0;
  height: 260px;
  aspect-ratio: 16 / 9;
}
.blog button{
  font-family: "Poppins", serif;
  padding: .9rem;
  border: none;
  border-radius: 15px;
  background-image: var(--sec-gradient-clr);
  color: var(--text-clr);
  font-size: 1.5rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 2rem;
  transition: 350ms ease-in;
    
  
}
.cta-btn{
  width: 100%;
}
.blog button:hover{
  cursor: pointer;
}
.blog button:active{
  transform: scale(1.1);
}

/* Css for Footer  */
footer {
  grid-area: footer;
  background-image: var(--sec-gradient-clr);
}
.wrapperFooter{
 display: flex;
 margin: 0 auto;
 width: 70%;
}
.video iframe{

  border: 0;
    padding: 1rem;
    width: 30rem;
    height: 15rem;
    border-radius: 25px;}
footer ul {
  justify-content: space-evenly;
  display: inline-block;
  list-style: none;
  padding: 0 64px;
  margin-top: 2rem;
}

footer ul li {
  font-weight: 500;
  font-size: 1.2rem;
  transition: ease-in-out 1000ms;
}

footer ul li a {
  color: var(--text-clr);
  text-decoration: none;
}
footer ul li:hover{
  transform: scale(1.10);
}
footer h5{
  width: 84%;
  height: 10%;
  font-size: 2rem;
  color: var(--text-clr);
  margin: 0;
  margin-bottom: 2.2rem;
}

footer p {
  font-size: 12pt;
  text-align: center;
  background-image: var(--sec-gradient-clr);
  color: var(--text-clr);
}


/* Media query for the screen having width of 4k resolution */
@media screen and (min-width: 2560px) {
  nav {
    top: 140px;
    margin-bottom: 15px;
  }

  header {
    height: 150px;
  }

  main {
    margin: 0 auto;
    margin-top: 40px;
    width: 75%;
  }

  .scroll-text-cont {
    height: 100px;
  }

  .scroll-text p {
    font-size: 2rem;
  }

  nav,
  header {
    width: 84.5%;
    margin: 0 auto;
    left: 200px;
  }

  nav ul li {
    font-size: 2rem;
    margin: -4px 0px;
  }

  svg {
    height: 32pt;
    width: 32pt;
  }

  footer {
    width: 85%;
    margin: 0 auto;
  }

  .scroll-text-cont {
    width: 100%;
  }
}

/* Media Query for Laptops with the width of 1024px */
@media screen and (max-width: 1024px) {
  nav ul {
    gap: 4.2rem;
    padding: 4px 64px;
  }

  #intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%s;
  }

  .cards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    grid-gap: 15px;
    padding: 15px 20px;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 300px;
  }

  /* footer {
    max-width: 1024px;
  } */
  .scroll-text-cont {
    height: 80px;
  }

  .scroll-text-cont {
    margin: 15px 0;
    height: 45px;
  }
  .wrapperFooter{
      width: 50%;
      flex-direction: column;
  }
}


/* Nav Styling for Responsive Site @media screen and (max-width:1269px)  */
@media screen and (max-width:768px) {
  .links-container{
    flex-direction: column;
    align-items: flex-start;

    position: fixed;
    top: 100px;
    right: -100%;
    z-index: 10;
    width: 200px;
    background-color: var(--bg-clr);
    box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
    transition: 0.75s ease-out;
  }
  nav a{
    height: auto;
    width: 100%;
    padding: .5rem 2rem ;
    justify-content: flex-start;
  }

  .open-sidebar-btn, .close-sidebar-btn{
    padding: 1.3rem;
    display: block;
    display: flex; 
    align-items:center; 
    gap: .5rem;
  }
  #sidebar-active:checked ~ .links-container{
      right: 0;
  }
  #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  .wrapperFooter{
      width: 65%;
  }

}

/* Media query for the screen having width of 768px */
@media screen and (max-width: 768px) {
  nav ul {
    gap: 2.2rem;
    padding: 0 21px;
  }

  .cards {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 320px;
    grid-gap: 25px;
    padding: 15px 20px;
    justify-content: center;
  }

  .card {
    width: 300px;
    height: 320px;
  }

  .scroll-text-cont {
    height: 45px;
    margin: 15px 0;
  }

  #gallery-text {
    margin: 0;
    margin-top: 1.5rem;
  }

  .scroll-img-cont {
    margin: 0;
    height: 350px;
  }

  .scroll-img img {
    aspect-ratio: 4 / 4;
    height: 350px;
  }

  .img {
    width: 90%;
  }

  .search-box {
    width: 90%;
  }
  .contact-us{
    flex-direction: column;
  }
  .contact-us form{
    width: 75%;
  }
  .lesswidth {
    width: 10%;
}
form label{
  width: 15%;
}
.contact-info {
  width: 100%;
}
.otherinfo{
  padding: 0;
}

}

/* Media query for the screen having width of 425px */
@media screen and (max-width: 425px) {
  .card h5 {
    font-size: 1.5rem;
    text-align: center;
    margin: 5px 0;
  }

  .text_1 h3 {
    font-size: 1.5rem;
  }

  .card h6 {
    font-size: 1.2rem;
    margin: 0;
    margin-top: 20px;
  }

  .card img {
    width: 50%;
    border-radius: 28%;
  }

  #call-out {
    font-size: 1pt;
  }

  #intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .text_1 {
    width: 100%;
    padding: 0;
  }

  .text_1 p {
    text-align: justify;
    line-height: 1.3rem;
    font-size: 0.8rem;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
  }

  .dept_img img {
    width: 100%;
    aspect-ratio: 3 / 2;
  }

  .card:hover {
    transform: scale(1.05);
  }

  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    max-width: 425px;
    height: 111px;
  }

  .search-box input,
  .search-box button {
    margin-bottom: 6px;
  }

  .search-box {
    width: 60%;    
  }

  .img {
    width: 65%;
  }

  footer p {
    font-size: 0.9rem;
    text-align: center;
  }

  footer ul li {
    padding: 0;
    font-size: 0.9rem;
  }

  footer ul {
    padding: 15px;
  }

  .card {
    width: 260px;
    height: 275px;
  }

  .cards {
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: 275px;
    grid-gap: 20px;
  }

  .card img {
    width: 40%;
  }

  .card button {
    padding: 15px;
    font-size: 1.2rem;
    font-weight: 500;
  }


  .card h5 {
    font-size: 1.5rem;
    margin: 0;
    margin-top: 15px;
  }

  #cardp {
    font-size: 0.9rem;
    margin: 16px 0;
  }

  .card p {
    margin: 20px 0;
  }

  .scroll-text-cont {
    margin: 10px 0 15px 0;
    height: 45px;
  }

  #gallery-text {
    margin: 0;
    margin-top: 1.5rem;
  }

  .scroll-img-cont {
    margin: 0;
    height: 180px;
  }

  .scroll-img img {
    aspect-ratio: 4 / 4;
    height: 12rem;
  }

  .hidenav {
    display: none;
  }

  .sidebar {
    width: 150px;

    div {
      position: absolute;
      top: 0;
    }
  }

  .sidebar a {
    position: relative;
    top: 65px;
  }

  .toggle-button {
    display: block;

  }

  .contact-us form{
    width: 75%;
  }
  .lesswidth {
    width: 21%;
}

form label {
  width: 28%;
}
iframe{
  width: 21rem;
  height: 16rem;
}
form label {
  width: 32%;
}
nav{
  top: 109px;
}
.links-container{
  flex-direction: column;
  align-items: flex-start;
  position: fixed;
  top: 111px;
  right: -100%;
  z-index: 10;
  width: 180px;
  background-color: var(--bg-clr);
  box-shadow: -5px 0 5px rgba(0, 0, 0, .25);
  transition: 0.75s ease-out;
}
.video{
  position: relative;
  left: -40px;
  width: 21rem;
  overflow: hidden;
}
.video iframe{
width: 20rem;
}
footer ul h5{
  font-size: 1.6rem;
  margin-bottom: 0;
}
}

@media screen and (max-width: 375px){
  .lesswidth {
    width: 22%;
}
form label {
  width: 32%;
}

}
